.twentytwenty_aios-horizontal .twentytwenty_aios-handle:before, .twentytwenty_aios-horizontal .twentytwenty_aios-handle:after, .twentytwenty_aios-vertical .twentytwenty_aios-handle:before, .twentytwenty_aios-vertical .twentytwenty_aios-handle:after {
	content: " ";
	display: block;
	background: white;
	position: absolute;
	z-index: 30;
	-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty_aios-horizontal .twentytwenty_aios-handle:before, .twentytwenty_aios-horizontal .twentytwenty_aios-handle:after {
	width: 3px;
	height: 9999px;
	left: 50%;
	margin-left: -1.5px;
}

.twentytwenty_aios-vertical .twentytwenty_aios-handle:before, .twentytwenty_aios-vertical .twentytwenty_aios-handle:after {
	width: 9999px;
	height: 3px;
	top: 50%;
	margin-top: -1.5px;
}

.twentytwenty_aios-before-label, .twentytwenty_aios-after-label, .twentytwenty_aios-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.twentytwenty_aios-before-label, .twentytwenty_aios-after-label, .twentytwenty_aios-overlay {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.twentytwenty_aios-before-label, .twentytwenty_aios-after-label {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
}

.twentytwenty_aios-before-label:before, .twentytwenty_aios-after-label:before {
	color: white;
	font-size: 13px;
	letter-spacing: 0.1em;
}

.twentytwenty_aios-before-label:before, .twentytwenty_aios-after-label:before {
	position: absolute;
	background: rgba(255, 255, 255, 0.2);
	line-height: 38px;
	padding: 0 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.twentytwenty_aios-horizontal .twentytwenty_aios-before-label:before, .twentytwenty_aios-horizontal .twentytwenty_aios-after-label:before {
	top: 50%;
	margin-top: -19px;
}

.twentytwenty_aios-vertical .twentytwenty_aios-before-label:before, .twentytwenty_aios-vertical .twentytwenty_aios-after-label:before {
	left: 50%;
	margin-left: -45px;
	text-align: center;
	width: 90px;
}

.twentytwenty_aios-left-arrow, .twentytwenty_aios-right-arrow, .twentytwenty_aios-up-arrow, .twentytwenty_aios-down-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
}

.twentytwenty_aios-left-arrow, .twentytwenty_aios-right-arrow {
	top: 50%;
	margin-top: -6px;
}

.twentytwenty_aios-up-arrow, .twentytwenty_aios-down-arrow {
	left: 50%;
	margin-left: -6px;
}

.twentytwenty_aios-container {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 0;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.twentytwenty_aios-container .video {
	display: block;
	max-width: 100%;
}
.twentytwenty_aios-container img {
	max-width: 100%;
	position: absolute;
	top: 0;
	display: block; }
	
.twentytwenty_aios-container .video.twentytwenty_aios-before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.twentytwenty_aios-container video {
  width: 100%;
	max-width: 100%;
}

.twentytwenty_aios-container.active .twentytwenty_aios-overlay, .twentytwenty_aios-container.active :hover.twentytwenty_aios-overlay {
	background: rgba(0, 0, 0, 0);
}

.twentytwenty_aios-container.active .twentytwenty_aios-overlay .twentytwenty_aios-before-label,
  .twentytwenty_aios-container.active .twentytwenty_aios-overlay .twentytwenty_aios-after-label, .twentytwenty_aios-container.active :hover.twentytwenty_aios-overlay .twentytwenty_aios-before-label,
  .twentytwenty_aios-container.active :hover.twentytwenty_aios-overlay .twentytwenty_aios-after-label {
	opacity: 0;
}

.twentytwenty_aios-container * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.twentytwenty_aios-before-label {
	opacity: 0;
}

.twentytwenty_aios-before-label:before {
	content: attr(data-content);
}

.twentytwenty_aios-after-label {
	opacity: 0;
}

.twentytwenty_aios-after-label:before {
	content: attr(data-content);
}

.twentytwenty_aios-horizontal .twentytwenty_aios-before-label:before {
	left: 10px;
}

.twentytwenty_aios-horizontal .twentytwenty_aios-after-label:before {
	right: 10px;
}

.twentytwenty_aios-vertical .twentytwenty_aios-before-label:before {
	top: 10px;
}

.twentytwenty_aios-vertical .twentytwenty_aios-after-label:before {
	bottom: 10px;
}

.twentytwenty_aios-overlay {
	-webkit-transition-property: background;
	-moz-transition-property: background;
	transition-property: background;
	background: rgba(0, 0, 0, 0);
	z-index: 25;
}

.twentytwenty_aios-overlay:hover {
	background: rgba(0, 0, 0, 0.5);
}

.twentytwenty_aios-overlay:hover .twentytwenty_aios-after-label {
	opacity: 1;
}

.twentytwenty_aios-overlay:hover .twentytwenty_aios-before-label {
	opacity: 1;
}

.twentytwenty_aios-before {
	z-index: 20;
}

.twentytwenty_aios-after {
	z-index: 0;
}

.twentytwenty_aios-handle {
	height: 38px;
	width: 38px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	border: 3px solid white;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	z-index: 40;
	cursor: pointer;
}

.twentytwenty_aios-horizontal .twentytwenty_aios-handle:before {
	bottom: 50%;
	margin-bottom: 22px;
	-webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty_aios-horizontal .twentytwenty_aios-handle:after {
	top: 50%;
	margin-top: 22px;
	-webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty_aios-vertical .twentytwenty_aios-handle:before {
	left: 50%;
	margin-left: 22px;
	-webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty_aios-vertical .twentytwenty_aios-handle:after {
	right: 50%;
	margin-right: 22px;
	-webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty_aios-left-arrow {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}

.twentytwenty_aios-right-arrow {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}

.twentytwenty_aios-up-arrow {
	border-bottom: 6px solid white;
	top: 50%;
	margin-top: -17px;
}

.twentytwenty_aios-down-arrow {
	border-top: 6px solid white;
	bottom: 50%;
	margin-bottom: -17px;
}